<div class="container-fluid">
    <div class="download">
        <div class="banner">
            <div class="banner_in">
                <div class="pad_box">
                    <img src="img/pad.png" class="pad" />
                    <img src="img/padStudent.png" class="padStudent" />
                    <img src="img/phone.png" class="phone" />
                </div>
                <div class="btn">
                    <p><a href="download.html#" class="dlBtn student"></a></p>
                    <p><a href="download.html#" class="dlBtn parent"></a></p>
                    <p><a href="download.html#" class="dlBtn teacher"></a></p>
                </div>
                <div id="downBtn row" class="down down2">如何扫码下载</div>
            </div>
        </div>

        <div class="gif">
            <div class="gif_in row">
                <div class="step col-lg-3">
                    <img src="img/step01.gif" width="232" />
                    <p class="step01">打开QQ扫一扫功能</p>
                </div>
                <div class="step col-lg-3">
                    <img src="img/step02.gif" width="232" />
                    <p class="step02">对准理优1对1二维码扫一扫</p>
                </div>
                <div class="step col-lg-3">
                    <img src="img/step03.png" width="232" />
                    <p class="step03">打开链接下载客户端</p>
                </div>
                <div class="step col-lg-3">
                    <img src="img/step04.png" width="232" />
                    <p class="step04">选择对应端并点击安装</p>
                </div>
            </div>
        </div>

    </div>
    <%- partial("partial/_free-listen-modal") %>
    <%- partial("partial/_service-block") %>
</div>
