<!-- video-js plugin begin -->
<section class="banner-video prel">

    <div class="home-video">

        <video autoplay="autoplay" poster="" id="homeVideo" loop="loop">
            <source src="http://source.vipabc.com/Ext/video/homePage/v3/test.mp4" type="video/mp4" />
        </video>
        <section class="backdrop2"></section>
    </div>

    <div class="container">
        <div class="animated fadeInUp content">
            <h1>真人在线 英语外教</h1>
            <div class="lead">
                <span class="home-text-rotator">为超过10,000,000人提供定制化在线语言学习服务 | 有效超乎你想象 | 乐享学习，学以致用</span>
            </div>
            <div><button class="btn  btn-red-clear" data-toggle="modal" data-target="#formModal" onclick="ga('send', 'event', 'link', 'click', 'VideoBanner Btn');">开始在线体验-免费</button></div>
            <div class="know-me"><small>或&nbsp;<a href="/About/AboutVIPABC" onclick="ga('send', 'event', 'link', 'click', 'Banner1 AboutVIPABC');"> 先了解我们</a></small></div>
        </div>
    </div>
</section>
<!-- video-js plugin end -->