<div class="container-fluid footer">
  <div class="row">
    <div class="col-md-4 col-sm-12 foot foot_left">
      <h3>关注我们</h3>
      <div class="foot_cont" style="text-align:center;">
        <p>
          <a href="http://weibo.com/u/5598598733" target="_blank"><span class="sina"></span></a>
          <a href=""><span class="weichat" id="wechat_icon"></span></a>
        </p>
        <span class="wechat_code">
            <img src="img/code.png" />
          </span>

      </div>
    </div>
    <div class="col-md-4 col-sm-12 foot foot_center">
      <h3>联系我们</h3>
      <div class="foot_cont" align="center">
        <p>联系电话：400-158-0101</p>
        <p>老师合作：stone@leoedu.cn</p>
        <p>地址：上海市宜山路2016号合川大厦13楼F</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 foot foot_right">
      <h3>友情链接</h3>
      <div class="foot_cont" align="center">
        <a href="http://www.jyeoo.com/" target="_blank">菁优网</a>
        <a href="http://sh.fumubang.com/" target="_blank">父母邦</a>
        <a href="http://www.sxkid.com/" target="_blank">上学帮</a>
        <a href="http://www.zxxk.com/" target="_blank">学科网</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="foot_down" align="center">
      <img src="./img/leo.png" />
    </div>
    <div class="foot_down" align="center">
      <p>Copyright © 2014 上海理优教育科技有限公司，沪ICP备14054807号</p>
    </div>
  </div>
</div>
