<section class="section-pad" id="section-pad">
    <article class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 lean-text">
                <!--data-650="left:-2%;opacity:0;" data-700="left:0;opacity:.8;"  data-800="left:0%;opacity:1;"-->

                <h3 class="small">
                    创新的在线学习模式<br />最好玩的直播课堂
                </h3>
                <br>
                <p>
                    领先的在线直播和电子白板技术，超越传统课堂的在线学习体验，在家里用iPad即可与老师进行实时语音互动学习。
                </p>
                <!--
                <p><a style="color:#e50012;" href="onlineenglish/tutor.html" onclick="ga('send', 'event', 'link', 'click', 'index_tutor');"> 了解更多外籍顾问<span class="glyphicon glyphicon-menu-right"></span></a></p>
                //-->
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="ipad-min">
                    <div class="home-teachers">
                        <video autoplay="autoplay" width="164" loop="loop" poster="">
                            <source src="http://source.vipabc.com/Ext/video/homePage/v3/home-teachers-1.mp4" type="video/mp4" />
                        </video>
                    </div>

                </div>
            </div>

        </div>
    </article>
</section>