<section class="ipad-1">
    <article class="container">
        <div class="row">
            <div class="col-md-5 col-xs-5" data-1100="bottom:-150px;opacity:0;" data-1200="bottom:-70px;opacity:0.5;" data-1400="bottom:0px;opacity:1;">
                <h3 class="small">
                    全匹配式课程设计<br>
                    量需定制，乐享学习
                </h3>
                <br>
                <p>
                    你对语言学习的需求，将拆解成主题、程度、课程形式、外籍顾问、同学等众多面向，以DCGS系统<a class="dcgs-a" href="javascript:void(0)">（1分钟了解DCGS&nbsp; <img alt="" src="http://source.vipabc.com/Ext/images/website/abc/homePage/v3/play-red.png">）</a>进行精准匹配，同时记录并分析每次的学习轨迹数据，为您提供直观反馈并优化下一次的学习体验。
                </p>
                <p class="mt-md-m">
                    <a href="onlineenglish/CourseStructure.html" onclick="ga('send', 'event', 'link', 'click', 'index_tutor');">了解更多上课流程<span class="glyphicon glyphicon-menu-right"></span></a>
                </p>
            </div>
        </div>
    </article>
    <div class="ipad-hand" data-1200="bottom:-150px;opacity:0.8;" data-1400="bottom:0px;opacity:1;"></div>
</section>
