<section class="team team-bg">

    <div class="team-img" data-1600="bottom:-200px;" data-1800="bottom:-100px;" data-2000="bottom:0px;;">


        <video preload="auto" id="Comp">
            <source src="http://source.vipabc.com/Ext/video/homePage/v3/Comp%202_100.mp4" type="video/mp4" />
        </video>
    </div>
    <article class="container container-lg">
        <div class="row">
            <div class="col-md-7 col-xs-7"></div>
            <div class="col-md-5 col-xs-5 prel" data-1800="bottom:-150px;opacity:0.8;" data-2200="bottom:-70px;opacity:1;">
                <h3 class="small">
                    私人专属课程服务团队<br>
                    倾力支持，全程陪跑
                </h3>
                <br>
                <p>
                    从量身定制的课程规划、学习课程方法指导，到24小时的技术支援，超过1500人的技术和服务团队，全年无休24小时在线，我们为您排除你在学习旅程中的一切障碍。想进一步了解吗?

                </p>
                <p class="mt-md-m"><a href="index.html#" onclick="javascript: gsTracker(); OpenModalDialog(this);ga('send', 'event', 'link', 'click', 'index_tutor');">联系我们的客服<span class="glyphicon glyphicon-menu-right"></span></a> </p>



            </div>
        </div>
    </article>
</section>
