<section class="section-pad" id="section-pad">
    <article class="container">
        <div class="row">
            <div class="col-lg-6">
                <!--data-650="left:-2%;opacity:0;" data-700="left:0;opacity:.8;"  data-800="left:0%;opacity:1;"-->

                <h3 class="small">
                    创新的在线学习模式，最好玩的直播课堂
                </h3>
                <br>
                <p>
                    领先的在线直播和电子白板技术，超越传统课堂的在线学习体验，在家里用Ipad即可与老师进行实时语音互动学习。
                </p>
                <!--
                <p><a style="color:#e50012;" href="onlineenglish/tutor.html" onclick="ga('send', 'event', 'link', 'click', 'index_tutor');"> 了解更多外籍顾问<span class="glyphicon glyphicon-menu-right"></span></a></p>
                //-->
            </div>
            <div class="col-lg-6">
                <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                <div id="main" style="width: 100%;height:500px;"></div>

            </div>
        </div>
    </article>
</section>