<section class="form-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-xs-6"></div>
            <div class="col-md-5 col-xs-5 ipad-ml">
                <form class="home-form" id="commentFormPage" method="post" action="">
                    <h3>现在就开启全新的学习体验</h3>
                    <input type="hidden" id="hdn_score" name="hdn_score" value="demo" />
                    <input type="hidden" id="hdn_phone_nationcode" name="hdn_phone_nationcode" value="+86" />
                    <input type="hidden" name="txt_phone_nationcode" value="+86" />
                    <div class="form-group mt-md">
                        <input type="text" class="form-control input-lg" placeholder="您的姓名" name="txt_cname" minlength="2" type="text" required>
                    </div>

                    <div class="form-group">
                        <input type="tel" class="form-control input-lg" placeholder="您的手机" name="txt_cphone" minlength="11" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control input-lg" type="email" name="txt_email_addr" required placeholder="您的邮箱">
                    </div>
                    <div class="form-group select-from">

                        <select name="rad_know_abc" id="lunch" class="selectpicker form-control input-lg" title="从何处得知 ">

                            <option value="" id="select" class="bg-gay hide">
                                从何处得知
                            </option>
                            <option value="14258">English Portal</option>
                            <option value="18399">163 Youdao</option>
                            <option value="6983">Weibo</option>
                            <option value="6985">Google</option>
                            <option value="6987">Newspapers / magazines</option>
                            <option value="6989">TV / Radio</option>
                            <option value="6993">Baidu</option>
                            <option value="441696">Internet Article</option>
                            <option value="6997">SMS / newsletter</option>
                            <option value="14263">Beijing Subway</option>
                            <option value="7003">Friends</option>
                            <option value="1406102">Voice For You</option>
                            <option value="9238">Sohu / Soho</option>
                            <option value="38123">Other</option>
                        </select>
                    </div>

                    <div class="mt-sm submit-wrap">
                        <button class="btn btn-block btn-danger btn-lg" type="submit">开启全新学习体验</button>
                    </div>
                    <div class="text-center info"><a href="Home/Privacy.html" target="_blank"><img src="http://source.vipabc.com/Ext/images/website/abc/homePage/v3/locked.png">vipabc保护您的隐私</a> </div>
                </form>
            </div>
        </div>
    </div>

</section>
