<section class="p-lg bg-gray">
    <h2 class="text-center">
        在vipabc获得成长<br>
        <small>我们了解，每个人的学习需求和问题有多么的不同</small>
    </h2>
    <article class="container mt-md">
        <div class="row member-feel home">
            <div class="col-md-4 col-xs-4">
                <div class="thumbnail">
                    <a target="_blank" href="http://lp.vipabc.com/program/linkage_page/zengyunting/index.asp?fromwhere=og1Yat486B">
                            <span class="hide-img2">
                                <img src="http://source.vipabc.com/Ext/images/website/abc/homePage/v3/002.jpg" alt="..." onclick="ga('send', 'event', 'link', 'click', 'index_tutor');">
                            </span>
                    </a>

                    <div class="caption">
                        <p class="caption-title">曾韵婷&nbsp;&nbsp;湖南卫视节目编导</p>
                        “我出国录制节目时经常会接触到各个国家的人，现在的口语能力不但让我顺利解决工作上遇到问题同时也得到了很多交朋友的机会。”<br /><br />

                        <p class="mt-sm text-center"><a target="_blank" href="http://lp.vipabc.com/program/linkage_page/zengyunting/index.asp?fromwhere=og1Yat486B" onclick="ga('send', 'event', 'link', 'click', 'index_tutor');"> 了解更多</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-4">
                <div class="thumbnail">
                    <a target="_blank" href="http://lp.vipabc.com/program/linkage_page/wangyangzhang2/index.asp?fromwhere=A3u6cZzm7t&save=1">
                            <span class="hide-img2">
                                <img src="http://source.vipabc.com/Ext/images/website/abc/homePage/v3/003.jpg" alt="..." onclick="ga('send', 'event', 'link', 'click', 'index_tutor');">
                            </span>
                    </a>

                    <div class="caption">
                        <p class="caption-title">王彦章&nbsp;&nbsp;伦敦残奥会冠军</p>
                        “他们很惊讶，为什么他们每周花比我更多的时间和精力，英语水平却没有我进步的快？我想，正是因为vipabc的课程非常有针对性，让我每一天都有新的进步和提高。”


                        <p class="mt-sm text-center"><a target="_blank" href="http://lp.vipabc.com/program/linkage_page/wangyangzhang2/index.asp?fromwhere=A3u6cZzm7t&save=1" onclick="ga('send', 'event', 'link', 'click', 'index_tutor');">  了解更多</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-4">
                <div class="thumbnail">
                    <a target="_blank" href="http://junior.vipabc.com/landingpage/VoiceOfStudents_Julia/index.html?fromwhere=2caTWxijAd">
                            <span class="hide-img2">
                                <img src="http://source.vipabc.com/Ext/images/website/abc/homePage/v3/004.png" alt="..." onclick="ga('send', 'event', 'link', 'click', 'index_CourseStructure');">
                            </span>
                    </a>

                    <div class="caption">
                        <p class="caption-title">Julia&nbsp;&nbsp;初中一年级学生</p>
                        “我喜欢vipabc青少年英语，在这里我可以遇到来自世界各地的酷老师，而且在家就能上课。我的同学都说我的口语很美式。”<br /><br />
                        <p class="mt-sm text-center"><a target="_blank" href="http://junior.vipabc.com/landingpage/VoiceOfStudents_Julia/index.html?fromwhere=2caTWxijAd" onclick="ga('send', 'event', 'link', 'click', 'index_CourseStructure');"> 了解更多</a>
                    </div>
                </div>
            </div>
        </div>

    </article>
</section>
