<section class="section-map" id="section-map">
    <div class="map" data-0="opacity:0;" data-200="opacity:1;">

    </div>
    <div class="dots hide">

    </div>

    <article class="container-fluid">
        <div class="container-lg prel">
            <div class="teachers-map">
                <div class="p-abso t1">
                    <img src="http://source.vipabc.com/Ext/images/website/abc/homePage/v3/Abril.png" class="hide">
                </div>
                <div class="p-abso t2">
                    <img src="http://source.vipabc.com/Ext/images/website/abc/homePage/v3/Mattew.png" class="hide">
                </div>
                <div class="p-abso t3">
                    <img src="http://source.vipabc.com/Ext/images/website/abc/homePage/v3/Dan.png" class="hide">
                </div>
                <div class="p-abso t4">
                    <img src="http://source.vipabc.com/Ext/images/website/abc/homePage/v3/Fatme.png" class="hide">
                </div>
                <div class="p-abso t5">
                    <img src="http://source.vipabc.com/Ext/images/website/abc/homePage/v3/Vatalili.png" class="hide">
                </div>
            </div>
        </div>
    </article>
    <section class="backdrop hide"></section>
    <article class="container prel">
        <div class="teachers-float">
            <div class="row">
                <div class="col-md-5 col-xs-5 teachers-text hide">
                    <!--data-650="left:-2%;opacity:0;" data-700="left:0;opacity:.8;"  data-800="left:0%;opacity:1;"-->

                    <h3 class="small">
                        汇集全球资深语言教育专家<br /> 英美师资，纯正专业
                    </h3>
                    <br>
                    <p>
                        4500多位全球外籍顾问团队，来自美国、加拿大、英国、澳洲等全球英美系国家，具有国际专业英语教学资格认证（TEFL/TESOL）及法律、医学、金融、营销、工程、设计等行业背景。
                    </p>
                    <p><a style="color:#e50012;" href="onlineenglish/tutor.html" onclick="ga('send', 'event', 'link', 'click', 'index_tutor');"> 了解更多外籍顾问<span class="glyphicon glyphicon-menu-right"></span></a></p>
                </div>
                <div class="ipad-min ip-1 teachers-ipad" data-800="top:0px;opacity:1;"
                     data-900="top:0px;opacity:1;"
                     data-1150="top:400px;opacity:1;"
                     data-1400="top:720px;opacity:1;">
                    <div class="home-teachers-1" data-1000="display:block;top: 82px;" data-1200="display:none;top: 82px;">

                        <video autoplay="autoplay" width="164" loop="loop" poster="">
                            <source src="http://source.vipabc.com/Ext/video/homePage/v3/home-teachers-1.mp4" type="video/mp4" />
                        </video>
                    </div>
                    <div class="home-teachers-2" data-1000="display:none;top: 82px;" data-1200="display:block;top: 82px;">

                        <video autoplay="autoplay" width="164" loop="loop" poster="">
                            <source src="http://source.vipabc.com/Ext/video/homePage/v3/home-teachers-2.mp4" type="video/mp4" />
                        </video>
                    </div>

                </div>

            </div>
        </div>
    </article>
</section>
