<section class="section-pad">
    <div class="row">
        <h2 class="text-center">
            创新的在线学习模式，最好玩的直播课堂<br /><br />
            <small>领先的在线直播和电子白板技术，超越传统课堂的在线学习体验，<br />在家里用iPad即可与老师进行实时语音互动学习。</small>
        </h2>
    </di线学习体验  <article class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="ipad-min">
                    <div class="home-teachers">
                        <video autoplay="autoplay" width="620" height="450" loop="loop" poster="">
                            <source src=<%- ipad_demo_mp4 %>  type="video/mp4" />
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>