<section class="team team-bg">

    <div class="team-img" data-1600="bottom:-200px;" data-1800="bottom:-100px;" data-2000="bottom:0px;;">


        <video preload="auto" id="Comp">
            <source src="http://source.vipabc.com/Ext/video/homePage/v3/Comp%202_100.mp4" type="video/mp4" />
        </video>
    </div>
    <article class="container container-lg">
        <div class="row">
            <div class="col-md-7 col-xs-7"></div>
            <div class="col-md-5 col-xs-5 prel" data-1800="bottom:-150px;opacity:0.8;" data-2200="bottom:-70px;opacity:1;">
                <h3 class="small">
                    7*24小时管家式学习服务<br>
                </h3>
                <br>
                <p>
                    近百位助教，学习顾问团队为你提供5对1微笑服务。学习规划师定制专属学习计划，名师1对1全方位授课，定期进行阶段性可是测评，名校大学生免费答疑陪读，心理老师定期纠正家庭教育方法，给孩子最好的教育环境。
                </p>
            </div>
        </div>
    </article>
</section>
