<div class="fixed-service-box">
    <div class="iconfont icon-wechat" id="service_wechat">
        <div class="float-wrapper wechat" style="display: none;">
            <img src="http://leohtml.oss-cn-shanghai.aliyuncs.com/www/img/codetwo.png" alt="">
        </div>
    </div>
    <div class="iconfont icon-service go_for_service" id="service_custom">
        <div class="float-wrapper service">
            <a href="./service_chat_panel.html" target="blank">
                <p>在线客服</p>
            </a>
        </div>
    </div>
    <div class="iconfont icon-tel" id="service_tel">
        <div class="float-wrapper tel">
            <p>400-169-3070</p>
        </div>
    </div>

</div>
