a:focus{outline:0;}
:focus{outline:0;}
.mt1{margin-top: 1px; }
select.form-control.input-lg option{padding: 5px 20px; }
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus{
	outline: medium dotted transparent;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus{
	/*outline: medium dotted transparent;*/
}
.btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger{
    background-color: #f74c4c;
        border-color: #d43f3a;
        color: #fff;
}
.btn:active, .btn.active{
    box-shadow: none;
}
.btn-danger:focus, .btn-danger.focus, .open > .dropdown-toggle.btn-danger{
    background-color: #f74c4c;
        border-color: #d43f3a;
        color: #fff;
}
.btn:focus, .btn.focus{
    box-shadow: none;
}
.navbar-brand.navbar-brand-new-padd{
	padding: 8px 15px 15px 15px;
	z-index: 9;
}
.logo-svg{
	width: 109px;
	height: 35px;
	/* background: url("http://source.vipabc.com/Ext/images/website/share/logo/logo.png") no-repeat center; */
	/*background: url("http://source.vipabc.com/Ext/images/website/share/logo/logo.png") no-repeat center\9;*/
	display: inline-block;
	background-size: cover;
	-ms-behavior:  url("../../网站爬虫/www.vipabc.com/Content/NewResource/css/css/backgroundsize.min.htc.html");
	behavior:  url("../../网站爬虫/www.vipabc.com/Content/NewResource/css/css/backgroundsize.min.htc.html");
}
.logo-svg2{
    width: 109px;
    height: 35px;
    /* background: url("http://source.vipabc.com/Ext/images/website/share/logo/logo.png") no-repeat center; */
    /*background: url("http://source.vipabc.com/Ext/images/website/share/logo/logo.png") no-repeat center\9;*/
    display: inline-block;
    background-size: cover;
    -ms-behavior:  url("../../网站爬虫/www.vipabc.com/Content/NewResource/css/css/backgroundsize.min.htc.html");
    behavior:  url("../../网站爬虫/www.vipabc.com/Content/NewResource/css/css/backgroundsize.min.htc.html");
}
.on .logo-svg2{
    /*background: url("http://source.vipabc.com/Ext/images/website/share/logo/logo.png") no-repeat center;
    background: url("http://source.vipabc.com/Ext/images/website/share/logo/logo.png") no-repeat center\9;*/
    display: inline-block;
    background-size: cover;
    -ms-behavior:  url("../../网站爬虫/www.vipabc.com/Content/NewResource/css/css/backgroundsize.min.htc.html");
    behavior:  url("../../网站爬虫/www.vipabc.com/Content/NewResource/css/css/backgroundsize.min.htc.html");
}

/*.footer-blogroll{margin-top: 38px; margin-left: 176px;}*/
.footer-blogroll ul > li{color: #ddd; float: left; margin-right: 10px;}
.footer-blogroll ul > li a{color: #999;white-space: nowrap;}
.footer-blogroll ul > li a:hover{color: #fff; }
.mt-2{margin-top: -2px;margin-top: 52px;}
/*-----------------------home.html--------------------------------*/
#main-menu{padding-top: 0; padding-bottom: 0; }
.hiden{ opacity: 0; }
.on2 li.free-listen{opacity: 1; transition: all 0.5s ease-in-out 0s;}
.on2 .hiden.btn.btn-danger{  margin-top: -2px; }
.banner-video .btn:focus{color: #ffffff; }
.adv-wrap .col-md-3{
	/*position: relative;*/
	z-index: 8;
}
.adv-wrap .col-md-3:hover .home-overlay-top{
	height: 100%;
	opacity: 1;filter: alpha(opacity=100);
}
.home-overlay-top{
	bottom: 0;
	top: 0;
	left: 0;
	overflow: hidden;
	/*padding-right: 10px; padding-left: 10px;*/
	right: -1px;
	transition: all 0.5s ease-in-out 0s;
	z-index: 9;
	position: absolute;
	opacity: 0;filter: alpha(opacity=0);
	background: url("http://source.vipabc.com/Ext/images/website/abc/homePage/v3/banner_hover_mask.png") repeat center;
	background-size: 100%;
	border-radius: 6px;
}
/*.container.width73per .col-md-3{padding-right: 10px; padding-left: 10px; }*/
.home-overlay-top .overlay-p-text{display: block; text-decoration:none;}
.home-overlay-top .overlay-p-text{ font-size: 14px; margin: 10% 10% 0 10%; text-align: center; line-height: 1.4em; color: #484848;  }

.home-overlay-top .overlay-p-text span{display: block; margin-bottom: 10px }
.home-form .form-group{position: relative;}
.home-form .form-group label.error{position: absolute; top:48px; white-space: nowrap;left: 0 }

.home-media .talk .media-body{border-radius: 6px; }
.home-form{position: relative; padding-top: 85px; }
.home-form h3{position: absolute; top: 0; width: 441px; }
.home-form .info{color:#acacac;padding-top: 18px;}
.home-form .info a{color:#acacac;}
.bg-gray-color.team{
    background-color: #edeced ;
}
@media (min-width: 1113px){
.home-video video{width: 100%; }
}
@media (max-width: 1113px){
.home-video video{width: 1113px; }
}
select.form-control.input-lg option:hover{
	background-color: #8e8f8f;
	color: #fff;
}
select.form-control.input-lg option.bg-gay,select.form-control.input-lg option.bg-gay:hover{
	border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    background-color: #dcdcdc;
    text-indent: 5px;
}
.p-lg.bg-gray h2.text-center{font-size: 48px; }
.p-lg.bg-gray h2.text-center small{font-size: 16px;}
.backdrop2{
	background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    height: 855px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
h3.qa-fs25{
	font-size: 25px;
	margin-bottom: 25px;
}
.p-lg.bg-gray-dark h2 small.text-white{font-size: 16px; }
.vertical-middle{vertical-align: middle;}
p.adv-wrap-txt{position: absolute; top: 36.7%; font-size: 18px; left: 6.5%; letter-spacing: 0;}
p.adv-wrap-txt2{position: absolute; top: 38%; font-size: 14px; left: 28px; line-height: 1.2em;}
.caption-title{text-align: center;  margin-top: -8px; margin-bottom: 16px;}
.caption-title-name{font-size: 20px; }
article.container-lg h3.small{margin-top:0;}
.container.width73per{width: 73%; }
@media (min-width: 2191px){
	.container.width73per{width: 1600px; }
}
.adv-wrap.ver-no-padding{padding-left: 0; padding-right: 0; }
.padding-topbon-100{padding-top: 100px; padding-bottom: 100px; }
.navbar-nav > li > a.telephone-unm{
    background:url("http://source.vipabc.com/Ext/images/website/abc/homePage/v3/telephone-white.png") no-repeat 5% 50%;
    padding-left: 30px; 
}
.on .navbar-nav > li > a.telephone-unm{
    background:url("http://source.vipabc.com/Ext/images/website/abc/homePage/v3/telephone-grey.png") no-repeat 5% 50%;
}
.no-max-img p.adv-wrap-txt{z-index: 9; }
.no-max-img .thumbnail-adv:hover img{
    transform: scale(1);
    z-index: 8;
}
.hide-img2{
    display: block;
    overflow: hidden;
}
div.thumbnail a span.hide-img2 img{
    transition: all 1.1s ease-in-out 0s;
}
div.thumbnail a span.hide-img2:hover img{transform: scale(1.1);}
.pt110-form.home-form{padding-top: 110px; padding-bottom: 40px;}
.dcgs-a img{margin-top: -1px;}
a.dcgs-a{color: #484848;}
a.dcgs-a:hover{color: #e50012;}
/*-----------------------/ home.html--------------------------------*/
/*------------------teachers.html------------------------*/
.bg-gray .pt-150{padding-top: 120px;}
.p-lg.bg-gray h2{margin-top: 55px; }
.p-lg.bg-gray h2.mt10{margin-top: 10px; }
/*.list .info{padding: 62px 20px 0; }*/
.height-md .info hr{margin-top: 30px; }
.pt-150 .list .comments.mt-sm{margin-top: 29px; }
.pt-150 .list .img{overflow: hidden; }
.fs18{font-size: 18px; }
.p-lg.mt80{padding-top: 80px; }
.top-to-backdrop{z-index: 9; position: relative;  top: 0; width: 954px; }
.img-size{display: block; height: 100px; width: 100px; border-radius: 50%; overflow: hidden; }
.title-h3-size h3{font-size: 32px; }
/*-----------------course.html------------------------------------------*/
.flipper .front{border-radius: 6px; font-size: 24px; }
.flipper .back{border-radius: 6px; padding: 20px 50px;  }
.default-body .container.p-lg{padding-bottom: 70px;}
.default-body .bg-gray.p-lg{padding-top: 90px; padding-bottom: 88px; }
.hover-before2{color: #676767; line-height: 24px; }
.bg-gray.p-lg .col-md-6.text-center h5{margin-top: 30px; margin-bottom: 14px;}
.iphone-bg{bottom: -3px; }
.ipad-bg{bottom: 1px; }
.dashboard-chart.mt-md .mt-md-m{
    margin-top: 20px;
}
.level-group li.level-bg1{font-weight: 500; }
.modal-lg-md{ margin-top: 10%; }
.course-form .form-group{position: relative;}
.course-form .form-group label.error{position: absolute; top: 46px;white-space: nowrap;left: 0 }
.flipper .back img{/*border-radius: 50%;*/ }
.flipper .back h4{margin-top: 24px; margin-bottom: 33px; }
.flipper .back p{font-size: 14px; line-height: 24px; }
.mt-md .level-group{position: relative; z-index: 8; }
.course-step3{position: absolute; top: 0; z-index: 9;  display: inline-block; height: 0; 
    background: url("http://source.vipabc.com/Ext/images/website/abc/homePage/v3/course-step3-1.png") no-repeat center;
}
.step3-hover .course-step3{height: 100%; width: 100%}
.banner-course h2.fs28{font-size: 28px; line-height: 0.8em; padding-top: 165px; }
.mt-md-btn.mt-md{margin-top: 22px; }
.mb36{margin-bottom: 36px;}
.p-lg.pb100{padding-bottom: 100px;}
.dashboard-info .col-md-10.col-xs-10.prel{height: 98px; }
.dashboard-info-height{height: 98px;}
/*-----------------/ course.html------------------------------------------*/
/*--------------------------about-us.html---------------------------------*/
.banner-about h1{font-size: 60px; }
.introduces{text-indent: 2em; border-radius:6px; margin: -93px 0 0 -375px; padding: 60px; font-size: 16px; line-height: 38px; }
.banner-about h1{line-height: 1.5em; }
.division-lg2 {
    height: 220px;
}
.a-timeline li i{height: 40px; width: 40px; line-height: 40px; top: -5px; margin-left: -20px; cursor:pointer; }
.timeline{border-radius: 6px; }
.timeline.mt-md-m div.news{padding-top: 15px; }
.timeline.mt-md-m{background-image: url("http://source.vipabc.com/Ext/images/website/abc/homePage/v3/2015.png"); background-repeat: no-repeat; background-position: right bottom; }
.timeline > .news a{padding: 13px 6px; }
.a-line{padding-left: 0px;margin-left: 54px; margin-right: 20px;}
#owl-wrap .item .info{background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0; }
.qa .active .fav{background: none; color: red; }
.fav{color: #999999;/* background: none; */ font-size:14px; width:70px;*width:80px; text-align:center; display:inline-block; height:20px; cursor:pointer; letter-spacing: 0;*background: url("http://source.vipabc.com/Ext/images/website/abc/homePage/v3/fav.png") no-repeat 0px 5px;}
.fav-text{font-size: 14px; }
.active .fav{background: red; }
.qa > p:last-child{font-size: 14px; }
.default-body .bg-gray.p-lg p.active{color: #f74c4c; }
.default-body .bg-gray.p-lg p.active .fav{*background: url("http://source.vipabc.com/Ext/images/website/abc/homePage/v3/fav-active.png") no-repeat 0px 5px;}
.qa h4{font-weight: 600; font-size: 20px; }
.qa.fs16 h4{font-size: 16px; }
.qa.last{padding: 65px 30px 73px; }
.qa .btn-lg{padding: 14px 22px; }
.col-md-img p{padding: 20px; border-radius: 6px;}
.col-md-img p a{color: 	#484848; }
.col-md-8 .col-md-img p,.col-md-img.md p{border-radius: 6px;}
.video-close-btn{position: relative; left:17px; top: 3px; color: #ffffff; opacity:1;filter: alpha(opacity=100)  }
.video-modal .close{text-shadow: none; }
.video-modal .close:focus,.video-modal  .close:hover{color: #DEDEDE; }
.play-btn .img-video:hover{background: url("http://source.vipabc.com/Ext/images/website/abc/homePage/v3/play-btn-gay-lg.png") no-repeat center; width: 90px; height: 90px;}
.play-btn .img-video{background: url("http://source.vipabc.com/Ext/images/website/abc/homePage/v3/play-btn-white-lg.png") no-repeat center; width: 90px; height: 90px; }
.col-lg-img p a{color: #fff; }
.timeline.mt-md-m{height: 258px; position: relative; overflow-y: auto; }
.img-about-video{
	width: 100%;
	height: 460px;
	background: #323232 url("http://source.vipabc.com/Ext/images/website/abc/homePage/v3/about-video.jpg") no-repeat center;
    cursor: pointer;    
}
.about-map-marker{font-size: 15px; position: relative; top: 2px; display: inline-block; width: 26px; text-align: center;}
.link-modal{color: #f74c4c; text-decoration: underline;}
a.link-modal:hover{text-decoration: underline; }
.news .glyphicon.glyphicon-menu-right{font-size:13px; margin-left: 13px;}
a.nostyle-a{
    cursor: default;
}
.timeline > .news a.nostyle-a:hover{
    color: #666;
}
.news-a-red a:hover{color: #f84c4c; }
.col-md-img p a b{line-height: 1.5em;}
/*-------------------------------community.html-----------------------------------*/
.mt-md-m{margin-top: 0; }
.mt-lg{margin-top: 40px; }
.course-com .caption p:nth-child(3){height: 20px; font-weight: 500; }
.course-com .caption p:nth-child(3) span{font-weight: 600; }
.overlay-bottom .links .btn{padding: 20px 30px; font-size: 18px; }
.banner-community .carousel-indicators li img{opacity: 1;}
.overlay-container img:first-child{border-top-right-radius: 6px; border-top-left-radius: 6px; }
.course-com{border-radius: 6px; }
.overlay-top{border-top-right-radius: 6px; border-top-left-radius: 6px; }
.overlay-bottom{border-radius: 6px; }
.overlay-container:hover .overlay-bottom{height: 100%; }
.overlay-container:hover .overlay-bottom .links{margin-top: 62%; }
.overlay-container:hover .overlay-bottom-down.overlay-bottom .links{margin-top: 32%; }
.border-r .study-report dt a{color: #484848; }
.col-md-6 .study-report dt a,.col-md-6 .study-report dd a{color: #484848; }
.banner-community .carousel-caption h4{font-size: 22px; line-height: 36px; }
.banner-span-name{font-size:16px; font-weight:600;}
.banner-bg-black{background-color: #323232; }
.banner-community .slide .carousel-indicators{top: 353px;}
.banner-community .carousel-indicators li{position: relative;}
.course-com .caption p.text-center{text-align: center; }
section.study-report dd.img a img{transition: all 1.1s ease-in-out 0s;position: relative;z-index: 8}
section.study-report dd.img:hover a img{transform:scale(1.11);}
.col-md-6 .study-report dt a:hover, .col-md-6 .study-report dd a:hover{color: #f84c4c; }
.hide-img{display: block; /*width: 200px; height: 116px;*/ overflow: hidden; border-radius: 6px;position: relative;z-index: 9}
.hide-img2{display: block; /*width: 462px; height: 268px;*/ overflow: hidden;position: relative;z-index: 9; border-top-left-radius: 6px; border-top-right-radius: 6px;}
.hide-img3{display: block; /*width: 460px; height: 300px;*/ overflow: hidden;border-radius: 6px;position: relative;z-index: 9}
.info-txt{
    position: absolute; 
    width: 100%;
    top: 128px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    color: #AB9A9B;
    padding: 0 10px;
}
.overlay-container.click-overlay-container .links{
    display: block
}
.overlay-container.click-overlay-container .links .btn{
    border-color: #fff; color: #fff; position: absolute; top:40%; left: 21%; z-index: 999;padding: 10px 30px; font-size: 18px;
}
.overlay-container.click-overlay-container .overlay-bottom{
    opacity: 0.5;
}
.container.p-lg h4.text-center{font-size: 32px; }
.carousel-control .iglyphicon-menu-left, 
.carousel-control .iglyphicon-menu-right{
    display: inline-block;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    height: 30px;
    margin-top: -15px;
    width: 30px;
}
.iglyphicon-menu-left{background: url("http://source.vipabc.com/Ext/images/website/abc/homePage/v3/left.png") no-repeat center;}
.iglyphicon-menu-right{background: url("http://source.vipabc.com/Ext/images/website/abc/homePage/v3/right.png") no-repeat center;}
.mt11{margin-top: 11px;}
.default-body .bg-gray.p-lg.padding-eng-sourse{padding-top: 40px; padding-bottom: 72px;}
.course-com .caption .hover-before p{height: auto; font-weight: 500;}
.course-com .caption .hover-before p span{font-weight: 600;}
.hover-before{height: 125px;}
.hover-after{height: 135px; position: relative; z-index: 10; line-height: 125px}
.hover-before2{height: 65px;}
.hover-after2{height: 65px; position: relative; z-index: 10; }
.box-border-none{border:1px solid transparent}
.links2 .btn {
    background-color: #fa2828;
    border-color: #fa2828;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
}
.links2 .btn:hover{
    background-color: #e60014;
    border-color: #e60014;
    color: #fff;
}
.box-border-red{
    border-radius: 6px;
    border-color:#fa2828;
}
.default-body .bg-gray.p-lg.eng-paper-padd{padding-top: 42px; padding-bottom: 69px;}
.default-body .container.p-lg.love-eng-padd{padding-bottom: 61px;}
/*--------------------------login--------------------------------------------*/
.login-register-wrap {
        background-color: #f5f5f5;
        box-shadow: 0 0 6px #333;
        display: none;
        height: 400px;
        left: 50%;
        margin-left: -220px;
        margin-top: 0;
        position: fixed;
        top: 10%;
        width: 440px;
        z-index: 8000;
    }
    .LR-title-wrap {
        border-bottom: 1px solid #dcdcdc;
        float: left;
        height: 60px;
        position: relative;
        width: 100%;
    }
    .LR-wrap-close {
        background:url("http://source.vipabc.com/Ext/images/website/abc/homePage/v3/close_icon.png") no-repeat;
        cursor: pointer;
        display: block;
        float: right;
        height: 16px;
        margin: 15px 15px 0 0;
        width: 16px;
    }
    .txt-indent {
        overflow: hidden;
        text-indent: -999px;
    }
    .s-logo {
        /* background:url("http://source.vipabc.com/Ext/images/website/abc/homePage/v3/s_logo.png") no-repeat; */
        display: block;
        height: 30px;
        margin: 15px 0 0 15px;
        width: 120px;
    }
    .LR-tab-title {
        height: 54px;
        left: 186px;
        position: absolute;
        top: 5px;
        width: 202px;
        z-index: 100;
    }
    .LR-tab-title li.LR-item-on {
        border-bottom: 2px solid #333;
        color: #333;
        line-height: 54px;
    }
    .LR-tab-title li {
        color: #999;
        cursor: pointer;
        float: left;
        font-size: 16px;
        height: 54px;
        line-height: 54px;
        text-align: center;
        width: 100px;
    }
    .LR-tab-title li {
        color: #999;
        cursor: pointer;
        float: left;
        font-size: 16px;
        height: 54px;
        line-height: 54px;
        text-align: center;
        width: 100px;
    }
    .LR-content {
        display: none;
        height: auto;
        width: 100%;
    }

    .LR-content-wrap {
        float: left;
        height: auto;
        padding: 50px 40px;
        width: 440px;
    }
    .LR-content {
        display: none;
        height: auto;
        width: 100%;
    }
    .LR-content-show {
        display: block;
    }
    .LR-content ul li {
        display: inline;
        float: left;
        height: auto;
        margin-bottom: 30px;
        width: 100%;
        word-break: break-all;
    }
    .LR-content ul li.LR-wrap-input-wrap span.LR-span {
        background-color: #fff;
        border: 1px solid #dcdcdc;
        display: block;
        height: 24px;
        padding: 8px 0;
        width: 358px;
    }
    .LR-content ul li.LR-wrap-input-wrap  span.LR-span lable{
        position:absolute;
   }
    .LR-content ul li i {
        border-right: 1px solid #f3f3f3;
        float: left;
        height: 24px;
        width: 40px;
    }
    .LR-mail i {
        background:url("http://source.vipabc.com/Ext/images/website/abc/homePage/v3/log_mail.png") no-repeat scroll center center;
    }
    .LR-wrap-input {
/*         background-color: #fff;
        color: #b4b4b4;
        height: 24px;
        margin-left: 10px;
        margin-top: 1px;
        width: 270px;
		border:0; */
    }
    .LR-content ul li.LR-wrap-input-wrap span.LR-span {
		position:relative;
        background-color: #fff;
        border: 1px solid #dcdcdc;
        display: block;
        height: 44px;
        padding: 8px 0;
        width: 358px;
    }
	.LR-content ul li.LR-wrap-input-wrap  span.LR-span label{
         position:absolute;
         width:100%;
         left:10px;
         top: 46px;
     }
    .LR-pwd i {
        background:url("http://source.vipabc.com/Ext/images/website/abc/homePage/v3/log_pwd.png") no-repeat scroll center center;
    }
    .LR-wrap-input {
        background-color: #fff;
        color: #484848;
        height: 24px;
        margin-left: 10px;
        margin-top: 1px;
        width: 270px;
        border: none;
        padding: 0;
    }
    .LR-content ul li.LR-wrap-checkbox-wrap {
        color: #999;
        font-size: 12px;
        line-height: 42px;
        text-indent: 18px;
    }
    .LR-content ul li {
        display: inline;
        float: left;
        height: auto;
        margin-bottom: 30px;
        width: 100%;
        word-break: break-all;
    }
    .LR-wrap-checkbox-wrap a {
        color: #999;
        float: right;
    }
    .LR-content ul li.LR-wrap-checkbox-wrap label{display:inline;}
    label {
        cursor: pointer;
    }
    .LR-content ul li {
        display: inline;
        float: left;
        height: auto;
        margin-bottom: 30px;
        width: 100%;
        word-break: break-all;
    }
    .LR-wrap-btn, .LR-wrap-btn:visited {
        background-color: #f75c5c;
        color: #fff;
        font-size: 16px;
        height: 42px;
        line-height: 42px;
        width: 100%;
    }
    .LR-wrap-input.placeholder{color:#b4b4b4;}
    /*---------------/login----------------------------------*/
    /*------------------footer-------------------------------------*/
    .copyright {
        background-color: #dcdcdc;
        color: #666;
        float: left;
        height: auto;
        line-height: 20px;
        padding: 30px 0 20px;
        text-align: center;
        width: 100%;
    }
    .copyright .footmenu {
        color: #333;
    }
    .copyright p {
        font-size: 14px;
        width: 100%;
        letter-spacing: 0;
        margin:0;
        line-height: 28px;
    }
    .copyright .ver {
        color: #999;
        padding: 0 5px;
    }
    .copyright .foot_brand {
        margin-bottom: 5px;
    }
    .copyright .foot_brand a {
        padding: 0 5px;
    }
    .copyright .foot_brand span {
        padding-right: 3px;
    }
    .copyright img {
        vertical-align: middle;
    }
    .copyright a {
        color: #333;
        cursor: pointer;
    }
    .social-lang, .social-weibo, .social-weixin, .social-App {
        position: relative;
        z-index: 1000;
    }
    .social-lang a span {
        background: url("http://source.vipabc.com/Ext/images/website/abc/homePage/v2/home/head_arrow_bottom.png") no-repeat scroll right center;
        display: inline-block;
        height: 20px;
        line-height: 20px;
        padding-right: 15px;
        text-align: left;
        width: auto;
    }
    .language {
        background-color: #ebebeb;
        cursor: pointer;
        display: none;
        height: 20px;
        left: 0;
        line-height: 20px;
        position: absolute;
        text-align: center;
        top: 20px;
        width: 80px;
        z-index: 20;
    }
    .social-lang a.head-arrow-on span {
        background-image: url("http://source.vipabc.com/Ext/images/website/abc/homePage/v2/home/head_arrow_top.png");
    }
/*------------------/footer-------------------------------------*/
@media (max-width: 770px){
    .home-overlay-top .overlay-p-text{font-size: 11px; }
    .custom-list li{width: 14.25%; padding: 5px}
    /*.custom-list li:last-child{width: 10%;}*/
    /*.custom-list li img{width: 80%;margin-right: 0 }*/
    .flipper .back p{line-height:16px; font-size: 11px; }
    .flipper .back h4{margin-bottom: 23px; }
    .overlay-container:hover .links .btn{ left:10%; }
    .ipad-hand{left: 31.9%; }
    .p-height .mb36{height: 40px;}
    .home-overlay-top .overlay-p-text{margin: 4% 2% 0 2%}
    .home-overlay-top .overlay-p-text span{margin-bottom: 5px}
    .teachers-img3{bottom: -81px;}
    .home-form h3{font-size: 27px;}
    .qa .info{height: 168px;}
    .qa.last{padding: 86px 30px 86px;}
    .news-hot .col-md-img.md p{overflow: hidden; height: 158px;text-overflow:ellipsis;}
    .a-apostrophe{white-space: nowrap;text-overflow:ellipsis;}
    .news-hot .col-md-img p{overflow: hidden; height: 115px;}
    .ipad-vert-lv1{margin-left: 20px;}
    .level-group li .ipad-vert-lv1.info span{left: 70px;}
    .col-lg-img p.title-gay{text-align: left;}
    .dashboard-text{width: 510px; height: 118px;}
    .dashboard-text .formtext{width: 340px;}
    .dashboard-text .formbtn{width: auto;}
    .dashboard-text .course-form1{width: 340px;}
    .dashboard-text .course-btn{width: auto;}
    .ipad-ml{margin-left: 40px;}
    /*.fill-in-form .form-modal{width: 250px;}
    .fill-in-form .gift{width: 300px;}*/
    .modal-content.prel{width: 767px;}
    .member-feel .thumbnail .caption{height: 305px;}
    .com-reason p{height: 155px;}
    .list > div > div.height-md{height: 497px;}
    .mt-sm .custom-list li img{width: 100%;}
}
@media (max-width: 1024px){
    .ipad-home-media{padding-left: 29.5px;}
    .course-step3{background: url("http://source.vipabc.com/Ext/images/website/abc/homePage/v3/course-step3-2.png") no-repeat center;}
}
@media (max-width: 770px) {
    .ipad-home-media {
        padding-left: 5px;
    }

    .course-step3 {
        background: url("http://source.vipabc.com/Ext/images/website/abc/homePage/v3/course-step3-3.png") no-repeat center;
    }
}
@media (min-width:768px){
    .home-overlay-top .overlay-p-text{margin: 8% 5% 0 5%}
    .home-overlay-top .overlay-p-text span{margin-bottom: 5px}

}
@media (min-width:992px){
    .home-overlay-top .overlay-p-text{margin: 10% 5% 0 5%}
    .home-overlay-top .overlay-p-text span{margin-bottom: 7px}
}
@media (min-width: 1200px){
    .home-overlay-top .overlay-p-text{margin: 8% 5% 0 5%}
    .home-overlay-top .overlay-p-text span{margin-bottom: 5px}
}
@media (min-width: 1440px){
    .home-overlay-top .overlay-p-text{margin: 15% 12% 0 12%; font-size:16px}
    .home-overlay-top .overlay-p-text span{margin-bottom: 10px}
}

/*----------------- è‹±è¯­å­¦ä¹ æ–¹æ¡ˆ --------------*/
.scheme-title h2{
	font-size: 42px;
	font-weight: normal;
}
.container-advise{
	padding: 55px 0 120px 0;
	background-color: #fff;
}
.scheme-container{padding: 78px 0;background-color: #f8f8f8;}
.container-advise .col-borderR{
		border-right:solid 1px #c3c3c3;
}
.container-advise .item-title{
	padding-right: 45px;
	padding-bottom: 42px;
	font-size: 24px;
	line-height: 40px;
}
.container-advise  .item-detail .item-left{
	float: left;
	width: 130px;
	text-align: center;
}
.container-advise  .item-detail .item-left p{}
.container-advise  .item-detail .item-left img{width: 80%;margin-bottom: 10px;}
.container-advise  .item-detail .item-right{
	position: relative;
	margin-left: 170px;
	padding-top: 35px;
	font-size: 16px;
	line-height: 30px;
}
.container-advise  .item-detail .item-right i{
	position: absolute;
	display: block;
	width: 24px;
	height: 24px;
	padding: 0;
	margin: 0;
	text-indent: 0;
	line-height: normal;
	font-size: 60px;
	z-index: 10;
}
.container-advise  .item-detail .item-right i.symbol-1{left: -85px;top: 25px;}
.container-advise  .item-detail .item-right i.symbol-2{right: 150px; top: 205px;}
.container-advise .home-form{padding-top: 0;}
.container-advise .advise-form-wrap{padding-left: 15%;}
.container-advise .advise-form-wrap h4{
	margin: 0 0 20px 0;
	text-align: center;
}
.container-advise .form-group{margin-bottom: 22px;}


.scheme-item-detail ul li{
	float:left;
	width: 26%;
	margin-right: 11%;
}
.scheme-item-detail ul li.item-end{
	margin-right: 0;
}
.scheme-item-detail ul li .detail{
	padding-bottom: 25px;
	font-style: italic;
	font-size: 18px;
	line-height: 35px;
}
.scheme-item-detail ul li p{
	text-align: right;
}

@media all and (max-width:790px){

.container-advise .item-detail .item-left{width: 100%;}
.container-advise .item-detail .item-left img{width: 30%;}
.container-advise .item-detail .item-right{
	float: left;
	width: auto;
	margin-left: 0;
	padding-left: 30px;
	padding-top: 20px;
}
.container-advise .item-detail .item-right i.symbol-1{left: -54px;top: 9px;}
.container-advise .item-detail .item-right i.symbol-2{right:135px;top: 190px;}
.container-advise .advise-form-wrap{
	padding-left: 5px;
	padding-top: 10px;
}
.container-advise .form-group{margin-bottom: 30px;}


}

/*----------------- è‹±è¯­å­¦ä¹ æ–¹æ¡ˆ end --------------*/
.submit-wrap{position:relative;}
.aboutus-height {
    height:98px;
}


.banner-community.banner-home .slide .carousel-indicators{bottom:20px;top:auto;}

@media all and (max-width:1024px){
	.title-h3-size h3{visibility:visible!important;font-size: 28px;}
	#skrollr-body{overflow-x:hidden}
	.hover-before2 .h3{font-size: 17px;}
}